POWERSYNC_PRIVATEKEY=base64encodedkey
POWERSYNC_PUBLICKEY=base64encodedkey
JWT_ISSUER=https://your-issuer
POWERSYNC_URL=https://your-powersync-url
DATABASE_URI=yourdatabaseuri
DATABASE_TYPE=postgres
PORT=5000